﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PlayFlashRtmpVideo.aspx.cs" Inherits="WiFiVideo.PlayFlashRtmpVideo" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">
    html, body {
        height: 100%;
        overflow: auto;
    }
    body {
        padding: 0;
        margin: 0;
    }
    #playerHost {
        height: 100%;
        text-align:center;
        vertical-align:middle;
    }
    </style>
   
</head>
<body style="width:100%; height:100%; background-color:Black; vertical-align:middle" >
   <form id="form1" runat="server" style="width:100%; height:100%;">
    <div id ="infoDiv" runat = "server" ></div>
    <div id="playerHost" style="width:100%; height:100%; vertical-align:middle;">

    <object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" name="player" width="100%" height="100%">
		<param name="movie" value="player2.swf" />
		<param name="allowFullScreen" value="true" /> 
		<param name="flashvars" value="<%=GetSrc%>" />
        <embed type="application/x-shockwave-flash"
			        id="player2"
			        name="player2"
			        src="player2.swf"
			        width="100%"
			        height="100%"
			        allowScriptAccess="always"
                    fullscreenOnSelection="true"
			        flashvars="<%=GetSrc%>"
		        />
	</object>

    <%--<object width="100%" height="100%"> 
    <param name="movie" value="StrobeMediaPlayback.swf" />
    <param name="flashvars" value="<%=GetSrc%>" />
    <param name="allowFullScreen" value="true" />
    <param name="autoplay" value="true" />
    <param name="allowscriptaccess" value="always" />
    <param name="wmode" value="direct" />
    <embed src="StrobeMediaPlayback.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="direct" width="100%" height="100%" flashvars="<%=GetSrc%>">
    </embed>
    </object>--%>

        
    </div>
    </form>
</body>
</html>
