
/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */

.jcarousel-skin-vodfilms {
  width: 980px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}

.jcarousel-skin-vodfilms .jcarousel-container-horizontal {
	width: 900px;
	padding-left: 30px;
	padding-right: 30px;
}

.jcarousel-skin-vodfilms .jcarousel-clip-horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding-left: 10px;
  padding-right: 10px;
}

.jcarousel-skin-vodfilms .jcarousel-item {

/*   border: 2px solid rgba(0,0,0.7);
  padding: 2px; */

  width: 120px;
  min-width: 120px;
  height: 180px;
  min-height: 180px;
  margin: 0px 5px 0px 5px;	
  overflow: hidden;
  list-style: none;
}


.jcarousel-skin-vodfilms .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
  display: none;
}

 /**
 * Buttons
 */
.jcarousel-skin-vodfilms .jcarousel-prev {
  display: block;
  width: 30px;
  height: 180px;
  background-image: url(carousel-arrow-left.png);
  background-color: rgba(0,0,0,0.1);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 5px;
  padding-right: 5px;
}

.jcarousel-skin-vodfilms .jcarousel-next {
  display: block;
  width: 30px;
  height: 180px;
  background-image: url(carousel-arrow-right.png);
  background-color: rgba(0,0,0,0.1);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 5px;
  padding-right: 5px;
}


.jcarousel-skin-vodfilms .jcarousel-prev-horizontal {
  position: absolute;
  top: 0px;
  left: 0px;
}

.jcarousel-skin-vodfilms .jcarousel-next-horizontal {
  position: absolute;
  top: 0px;
  right: 0px;
}

.jcarousel-skin-vodfilms .jcarousel-next-disabled,
.jcarousel-skin-vodfilms .jcarousel-prev-disabled {
  display: none;
}

/**
 * Navigation
 */

.jcarousel-skin-vodfilms .jcarousel-navigation {
  margin: 0;
  padding: 0;
}

.jcarousel-skin-vodfilms .jcarousel-navigation li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  background: none;
}

.jcarousel-skin-vodfilms .jcarousel-navigation li.active a {
  font-weight: bold;
  text-decoration: none;
}

