@CHARSET "UTF-8";

div.banner-slideshow-onboard-fleettracker {
	width: 980px;
	height: 415px;
}







#onboard-fleettracker-filters {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: -130px;
    margin-left: 10px;
    z-index: 100;

}

#onboard-fleettracker-filters div {
    width: 500px;
	font-family: 'Avenir Light';
}

#onboard-fleettracker-filters select {
	width: 460px;	
}

#onboard-fleettracker-filters-text {
    font-size: 24px;
    margin-left: 30px;
    height: 40px;
}




.onboard-fleettracker-content {
 	display: block;    
	color: #000;    
    width: 980px;
    height: 600px;
	min-height: 600px;
    max-height: 600px;
}


.onboard-fleettracker-content-top {    
 	display: block;    
	width: 900px;
	text-align: center;
	margin: 0px auto;
    height: 540px;
   	padding-top: 25px;
	padding-bottom: 25px;
}

#onboard-fleettracker-content-leaflet {
 	margin: 0px auto;
    height: 540px;
    max-height: 540px;
}

.leaflet-popup-content {
    color: #000000;
    text-align: center;
    margin: 10px;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container {
    
}


.onboard-fleettracker-content-bottom {    
	display: block;    
	width: 900px;
	margin: 0px auto;
    height: 205px;
    /* min-height: 205px; */
   	padding-top: 0px;
	padding-bottom: 0px;
}


