
.content-panel,
.content-panel img,
.content-panel div {
    z-index: 1;
}

.front-content-top,
.front-content-bottom {
	min-height:	284px;
}

.front-content-top {
	padding-top: 11px;	
	padding-bottom: 0px;	
}

.front-content-bottom {
	padding-top: 0px;	
	padding-bottom: 11px;	
}

.front-content-menu {
    cursor: pointer;
    min-height: 260px;
    max-height: 260px;
    /*overflow: hidden;*/
   position: static;
}

.front-content-menu :first-child {
    -webkit-transform: translateZ(0);
    /*-webkit-backface-visibility: hidden;*/
}	



.front-content-menu-item {
    -webkit-transition-duration: 1000ms; /* Safari */
    transition-duration: 1000ms;

    opacity: 1;
    position: absolute;
    z-index: 10;
    
    height: 260px;
}

.front-content-menu-item.flip {
    
    /*transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);*/
   
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
    z-index: -1;
    
}

.front-content-menu-item .nav-title,
.front-content-menu-item .nav-body-text,
.front-content-menu-item .nav-link-text {
      position: relative;    
      left: 40px;
}

.front-content-menu-item .nav-title {
      font-family: 'Didot';
      font-size: 36px;
      text-transform: uppercase;
      min-height: 60px;
      font-weight: bolder;
      
      top: -230px;
}

.front-content-menu-item .nav-name {
    display: none;
}

.front-content-menu-item .nav-body-text {
      font-family: 'Avenir Light';
      font-size: 18px;
      
      max-width: 360px;
      
      min-height: 70px;
      max-height: 70px;
      
      top: -230px;
}

.front-content-menu-item .nav-link-text {
      font-family: 'Avenir Light';
      font-size: 24px;
      /* text-transform: uppercase; */
      
      top: -190px;
}
