/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*
 
 cyan border: rgba(108,190,188,1)
 
 rosso: 
 #d60524
 rgb(214,5,36)
 
 aqua:
 #69bdbb
 rgb(105,189,187)

 * */
 
 
@font-face {
  font-family: 'Avenir Light';
  src: local('Avenir-Light'), local('Avenir-Light'), url('/sites/all/themes/silversurfer/fonts/avenir-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Oblique';
  src: local('Avenir-Oblique'), local('Avenir-Oblique'), url('/sites/all/themes/silversurfer/fonts/avenir-light-ital.ttf') format('truetype');
}

@font-face {  
  font-family: 'Avenir Medium';
  src: local('Avenir-Medium'), local('Avenir-Medium'), url('/sites/all/themes/silversurfer/fonts/avenir-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Black';
  src: local('Avenir-Black'), local('Avenir-Black'), url('/sites/all/themes/silversurfer/fonts/avenir-black.ttf') format('truetype');
}

@font-face {
  font-family: 'Didot'; 
  src: local('Didot'), local('Didot'), url('/sites/all/themes/silversurfer/fonts/didot-regular.ttf') format('truetype');
}

 
body {
    color: #ffffff;
    background-color: rgba(0,0,0,0.05);
}

.debug {
    color: #000;    
}

::-webkit-scrollbar { 
    display: none; 
}

div {
    background-color: transparent;
}

div.select-aqua,
div.select-rosso {
	background-image: url('/sites/all/themes/silversurfer/img/select-aqua-45x45.jpg');
	background-size: 45px 45px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #69bdbb;
    width: 500px;
	height: 45px;
    border: none;
    border-radius: 0px; 
    cursor: pointer;
}

div.select-rosso {
	background-image: url('/sites/all/themes/silversurfer/img/select-rosso-45x45.jpg');
	background-color: #d60524;
}

select.select-aqua,
select.select-rosso {
	background-image: none;
    background-color: transparent;
	border: none;
    border-radius: 0px; 
    cursor: pointer;
    -webkit-appearance: menulist-textfield;
	font-family: 'Avenir Light';
    font-size: 24px;
    padding: 3px 0px 8px 30px;    
    color: #fff;
    width: 500px;
    height: 45px;
}


input.input-text-aqua {
	background-color: #ddd;
	color: #aaa;
	font-family: 'Avenir Light';
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	-webkit-appearance: menulist-textfield;
	height: 30px;
}

input.has-value {
	color: #000;
}

input.input-button-aqua {
	background-color: #69bdbb;
	color: #fff;
	font-family: 'Avenir Light';
	font-size: 14px;
	font-weight: bold;
	-webkit-appearance: menulist-textfield;		/*menulist-textfield*/
	background-image: url('/sites/all/themes/silversurfer/img/select-aqua-45x45.jpg');
	background-size: 45px 45px;
    background-position: right;
    background-repeat: no-repeat;	
    padding-right: 50px;
    height: 35px;
}


.block-system {
	background-color: rgba (0,0,0,0.4);
}

#header {
    background-color: #000;
}



#header-first .view-site-logo {
    margin-left: 30px;
    width: 255px;    
    cursor: pointer;
}

#header-first .view-site-logo img {
    padding-top: 18px;
    /* padding-bottom: 15px; */
}

#header-first .logo-silversea-expedition {
    padding-top: 15px;
    padding-bottom: 15px;
}


#header-second {
/* 	background-image: url('/sites/all/themes/silversurfer/img/home-icon.png');
	background-position: center right;
	background-repeat: no-repeat; */
}

#header-second-icons {
	float: right;
	width: 110px;
	height: 60px;
}

#header-second-icons.hover {
    background-color: #eee;
    color: #000;
}

#header-second-icons div {
	padding: 10px 5px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

#header-second-icons .icon-home {
	background-image: url('/sites/all/themes/silversurfer/img/header/home-icon-white.png');
}

#header-second-icons .icon-home.hover {
	background-image: url('/sites/all/themes/silversurfer/img/header/home-icon-black.png');
}

#header-second-icons .icon-telephone {
	background-image: url('/sites/all/themes/silversurfer/img/header/telephone-icon-white.png');
	padding-right: 15px;
}

#header-second-icons .icon-telephone.hover {
 	background-color: #eee;
    color: #000;
	background-image: url('/sites/all/themes/silversurfer/img/header/telephone-icon-black.png');
}


#header-second-dropmenu-telephone {
    display: none;
    position: relative;
    top: 60px;
    right: -270px;
    
    z-index: 900;  
    width: 400px;     
    padding: 15px; 
    
    background-color: #eee;
    color: #000;
    font-family: 'Avenir Light';
    text-transform: uppercase;
}


.header-second-dropmenu-telephone-item {
    padding: 10px;
    height: 22px;
}

.header-second-dropmenu-telephone-item.even {
    background-color: #fff;
}

.header-second-dropmenu-telephone-item .content-left {
	float: left;
}

.header-second-dropmenu-telephone-item .content-right {
	float: right;
}



#header-third {
    border-left-color: #ffffff;
    border-left-style: solid;
    border-left-width: 1px;
    cursor: pointer;
    color: #fff;
}

#header-third.hover {
    background-color: #eee;
    color: #000;
}

#header-third .header-third-menu-button {
	position: absolute;
	top: 0px;
    width: 69px;
    height: 60px;
}

#header-third div.menu-lines {
	margin: 18px auto 14px auto;
	width: 30px;
    height: 30px;
}

#header-third div.menu-lines .menu-line {
    float: left;
    clear: top;
    margin-top: 6px;
    width: 30px;
    height: 4px;
    background-color: #fff;
}

#header-third div.menu-lines div:first-child {
	margin-top: 0px;
}

#header-third.hover div.menu-lines .menu-line {
    background-color: #000;
}

#header-banner,
#header-banner img {
    background-color: #000;
    overflow: hidden;
}

#header-banner div {
    /* z-index: 1; */  
}


#header-banner-filters {
	font-family: 'Avenir Light';
    position: absolute;
	margin-left: 10px;
    z-index: 1000;
    width: 500px;
}

#header-banner-filters.double-filter {
   top: 310px;
}

#header-banner-filters.single-filter {
    top: 360px;
}


#header-banner-filters.single-filter .text,
#header-banner-filters.double-filter .text {
    font-size: 24px;
    margin-left: 30px;
    height: 40px;
}

#header-banner-filters.single-filter .select0,
#header-banner-filters.double-filter .select0,
#header-banner-filters.double-filter .select1 {
	margin-top: 5px;
}




#header-banner-page-title {
	position: relative;
	top: -400px;
 	
 	float: left;
 	left: 40px;
    
    max-height: 144px;
    
    font-family: 'Didot';
    font-size: 72px;
    line-height: 72px;
    
    z-index: 100;
    
}

#header-banner-page-title div {
	height: 72px;
	float: left;
	clear: both;
}

#header-banner-page-title .line2 {
    color: rgba(108,190,188,1);
}


#content-top,
#content-bottom {
    /* background-color: #ffffff; */
}


.separator {
	height: 5px;
/* 	float: left;
	clear: both;
 */	background-color: rgba(108,190,188,1);
    /* border-top-color: rgba(108,190,188,1);
    border-top-style: solid;
    border-top-width: 5px;     */
}

.header-dropmenu {
    display: none;
    position: relative;
    top: 60px;
    right: 360px;
    
    z-index: 300;  
    width: 400px;     
    padding: 15px; 
    
    background-color: #eee;
    color: #000;
    font-family: 'Avenir Light';
    text-transform: uppercase;
}

.header-dropmenu-item {
    padding: 10px;
}

.header-dropmenu-item.parentnavid-0 {
    font-family: 'Avenir Light';
    /* font-weight: bold; */
}

.header-dropmenu-item.views-row-even {
    background-color: #fff;
}

.header-dropmenu-item .nav-name {
    padding-left: 15px;
}

.header-dropmenu-item .nav-image,
.header-dropmenu-item .nav-body-text,
.header-dropmenu-item .nav-title,
.header-dropmenu-item .nav-link-text {    
    display: none;
}

#user-login {
	background-color: #000;
}


#footer-forms {
	width: 940px;
	margin: 10px auto 0px auto;
	font-family: 'Avenir Light';
	color: #000;	
}

#footer-forms input.input-text-aqua {
	/* width: 310px; */
	float: left;
	width: 760px;	
}

#footer-forms input.input-button-aqua {
	width: 120px;
	float: right;
}

#footer-form-first {
	/* float: left; */
	width: 940px;
	margin: 0px auto;
	/* width: 460px; */
	/* margin-right: 10px; */
	height: 65px;
}

#footer-form-second {
	float: left;
	width: 460px;
	margin-left: 10px;
	height: 65px;
}






























