body {
	margin: 0px;
	width: 1280px;
	height: 720px;
}

ul {
	-webkit-padding-start: 0px;
}

#itv-body  {
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	top: 0px;
	left: 0px;
 	width: 1280px; 
	height: 720px;
}

#itv-body-inner {
	position: absolute;
	width: 1280px;
	height: 720px;
	top: 0px;
	left: 0px;	
}

#itv-header  {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1280px; 
	height: 70px;
}

#itv-content {
	position: absolute;
	top: 70px;
	left: 0px;
	width: 1280px; 
	height: 560px;
}

#itv-footer {
	position: absolute;
	top: 630px;
	left: 0px;
	width: 1280px; 
	height: 80px;
}

#itv-header-first  {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px; 
	height: 70px;
}

#itv-header-second  {
	position: absolute;
	top: 0px;
	left: 300px;
	width: 680px; 
	height: 70px;
}

#itv-header-third  {
	position: absolute;
	top: 0px;
	left: 980px;
	width: 300px; 
	height: 70px;
}

#itv-menubar {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 340px; 
	height: 560px;
}

#itv-content-main {
	position: absolute;
	top: 0px;
	left: 385px;
	width: 880px; 
	height: 560px;
}

#itv-content-main-header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 880px; 
	height: 60px;
	z-index: 999;
}

#itv-content-main-view {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 880px; 
	height: 500px;
}


div.itvviewmode-omni {
	position: absolute;
	top: 10px;
	left: 40px;
	width: 800px; 
	height: 448px;

	overflow: scroll;
}

div.itvviewmode-omni ul {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  list-style: none;
}


div.itvviewmode-omni li {
	float: left;
    padding: 20px 37px;
}


div.itvviewmode-carouseldetail {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 880px; 
	height: 480px;

	overflow-x: scroll;
	overflow-y: hidden;
}

div.itvviewmode-carouseldetail ul {
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	list-style: none;
	height: 480px;
}

div.itvviewmode-carouseldetail li {
	float: left;
	margin: 0px;
	padding: 0px 50px;	
	width: 780px;
	height: 480px;
}


div.itvviewmode-static {
	position: absolute;
	top: 0px;
	left: 40px;
	width: 800px; 
	height: 480px;

	overflow: hidden;
}

div.itvviewmode-carousellist-movieaudio {
	position: absolute;
	top: 20px;
	left: 40px;
	width: 800px; 
	height: 460px;
}









