/*
Aqua #69bdbb
*/

body {
	
	background-color: #000;
	font-family: 'Avenir Light';
	font-size: 16px;
}


.jcarousel-autoscroll ul {
	position: relative;
	list-style: none;
	margin: 0px;
}

.jcarousel-horizontal ul {
	
}

.jcarousel-horizontal li {
	float: left;
}

.jcarousel-autoscroll li {
	margin: 0px;
}


#itv-body-inner {
	background-image: url('/sites/all/themes/silversurfer/img/itv/backgrounds/background01.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

#itv-header-first #currentDateAndTime {
	margin: 10px 0px 0px 10px;
}

#itv-header-second .itv-header-second-img {
	margin: 10px auto;
	width: 187px;
	/* text-align: center; */
}

#itv-header-third #itv-header-third-shipname-gps {
	float: right;
	margin: 10px 10px 0px 0px;
	
}


#itv-content-main {
	outline-color: #69bdbb;
	outline-style: solid;
	outline-width: 2px;
	background-color: rgba(0,0,0,0.75);
	z-index: 1;
	opacity: 0.7;
}

#itv-content-main.focus {
	opacity: 1;
	background-color: rgba(0,0,0,0.6);
}


#itv-content-main-header .breadcrumb-icons {
	height: 25px;
	margin: 10px 10px 5px 10px;
}

#itv-content-main-header .breadcrumb-icons-left {
	float: left;
}


#itv-content-main-header .breadcrumb-icons-right {
	float: right;
}

#itv-content-main-header .breadcrumb {
	float: left;
}

.itv-navarrow {
	position: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 999;
}
#itv-navarrow-top,
#itv-navarrow-bottom {
	width: 70px;
	height: 35px;
}
#itv-navarrow-right,
#itv-navarrow-left {
	width: 35px;
	height: 70px;
}
#itv-navarrow-movieaudioviewtop,
#itv-navarrow-movieaudioviewbottom,
#itv-navarrow-tvepisodesviewtop,
#itv-navarrow-tvepisodesviewbottom {
	width: 50px;
	height: 25px;
}



#itv-navarrow-top {
	top: 80px;
	left: 800px;
	background: url('/sites/all/themes/silversurfer/img/itv/nav-arrows/top.png');
}

#itv-navarrow-bottom {
	top: 580px;
	left: 800px;
	background: url('/sites/all/themes/silversurfer/img/itv/nav-arrows/bottom.png');
}

#itv-navarrow-right {
	top: 310px;
	left: 1220px;
	background: url('/sites/all/themes/silversurfer/img/itv/nav-arrows/right.png');
}

#itv-navarrow-left {
	top: 310px;
	left: 395px;
	background: url('/sites/all/themes/silversurfer/img/itv/nav-arrows/left.png');
}

#itv-navarrow-tvepisodesviewtop,
#itv-navarrow-movieaudioviewtop {
	background: url('/sites/all/themes/silversurfer/img/itv/nav-arrows/subviewtop.png');
}

#itv-navarrow-tvepisodesviewbottom,
#itv-navarrow-movieaudioviewbottom {
	background: url('/sites/all/themes/silversurfer/img/itv/nav-arrows/subviewbottom.png');
}

#itv-navarrow-tvepisodesviewtop {
	top: 420px;
	left: 1240px;
}
#itv-navarrow-tvepisodesviewbottom {
	top: 560px;
	left: 880px;
}
#itv-navarrow-movieaudioviewtop {
	top: 370px;
	left: 1180px;
}
#itv-navarrow-movieaudioviewbottom {
	top: 550px;
	left: 880px;
}


#MainMenuView {
	padding-top: 10px;
	height: 540px;
	z-index: 1000;
}

#MainMenuView .jcarousel-mainmenu {
	overflow-x: scroll;
	overflow-y: hidden;
}

#MainMenuView ul {
	list-style: none;
	width: 500px;
}

#MainMenuView li {
	padding: 10px 0px;
	width: 500px;
}

#MainMenuView .list-item-div {
	text-align: left;
	width: 500px;
	height: 40px;
	max-height: 40px;
}

#MainMenuView .list-item-div div {
	display: inline-block;
	text-align: left;
}

#MainMenuView .list-item-div .icon {
	width: 70px;
	height: 40px;
	max-height: 40px;
}

#MainMenuView .list-item-div .icon img {
	border-image-width: 0;
	width: 40px;
	height: 40px;
	margin: 0px 10px;
}

#MainMenuView .list-item-div .menu-text {
	/* width: 220px; */
	font-size: 30px;
	height: 40px;
	max-height: 40px;
	color: #fff;
	font-family: 'Didot';
	margin-left: 10px;
	vertical-align: text-bottom;
}

#itv-menubar #MainMenuView .list-item-div .menu-text,
#itv-menubar #MainMenuView .list-item-div .icon {
	opacity: 0.4;
}

#itv-menubar.focus #MainMenuView .list-item-div .menu-text,
#itv-menubar.focus #MainMenuView .list-item-div .icon {
	opacity: 1;
}

#MainMenuView li.focus {
	padding: 20px 0px;
}

#MainMenuView li.focus .list-item-div {
	height: 50px;
	max-height: 50px;
}

#MainMenuView li.focus .list-item-div .icon {
	height: 50px;
	max-height: 50px;
}

#MainMenuView li.focus .list-item-div .icon img {
	width: 60px;
	height: 60px;
	margin: 0px;
}

#MainMenuView li.focus .list-item-div .menu-text {
	font-size: 42px;
	color: #69bdbb;
	padding-bottom: 0px;
	vertical-align: top;
	padding-top: 5px;
}

div.itvviewmode-omni {
	height: 448px;
	max-height: 448px;
}

div.itvviewmode-omni li {
}

div.itvviewmode-omni li.focus {
	
}

div.itvviewmode-omni li .text-overlay {
    position: absolute;
    float: left;
    clear: none;

    width: 120px;
    margin-top: -28px;
    margin-left: 2px;
    height: 20px;

    text-align: center;
    text-transform: uppercase;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
	padding-top: 6px;

    background-color: rgba(22,22,22,0.5);

    z-index: 100;
}

div.itvviewmode-omni li .poster {
	height: 184px;
	max-height: 184px;
}

div.itvviewmode-omni li .poster img {
   	padding: 2px;
	outline-style: solid;
	outline-width: 2px;
	outline-color: rgba(255,255,255,1);
  	
}

div.itvviewmode-omni li.focus .poster img {
	outline-color: #69bdbb;
	outline-width: 10px;	
}


#ShipServicesView .list-item-div {
	width: 800px; 
	height: 460px;
	max-height: 460px;   
	font-family: 'Avenir Light';
	font-size: 24px;
}

#ShipServicesView .list-item-div .serviceimg,
#ShipServicesView .list-item-div .text-overlay {
	position: relative;
	width: 800px;
	height: 300px;
}

#ShipServicesView .list-item-div .serviceimg {
	top: 0px;
	left: 0px;
	box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.2);
}

#ShipServicesView .list-item-div .text-overlay {
	top: -300px;
	left: 0px;
	z-index: 100;
	margin: 0px;
	padding: 0px;
	/* background-color: rgba(0,0,0,0.2); */
}

#ShipServicesView .list-item-div .text-overlay .text {
	float: left;
	clear: both;
	width: 380px;
	padding-left: 20px;
	padding-right: 20px;	
	text-shadow: 2px 2px #000;
}

#ShipServicesView .list-item-div .text-overlay .title {
	margin-top: 20px;
	height: 40px;
	font-size: 36px;
	text-transform: uppercase;
	font-family: 'Didot';
}

#ShipServicesView .list-item-div .text-overlay .description {
	margin-top: 20px;
	height: 140px;
	white-space: normal;
}

#ShipServicesView .list-item-div .text-overlay .deck {
	margin-top: 40px;
	height: 40px;
}

#ShipServicesView .list-item-div .deckplanimg {
	position: relative;
	top: -300px;
	width: 800px;
	height: 160px;
	text-align: center;
}


#MoviesDetailView.dim {
	opacity: 0.25;
}


#MoviesDetailView .movie-detail-card {
	width: 780px; 
	height: 480px;
	max-height: 480px;   
	font-family: 'Avenir Light';
	font-size: 18px;
	margin: 0px auto;
}

#MoviesDetailView .movie-card-row {
	float: left;
	clear: both;
	width: 780px;
}

#MoviesDetailView .movie-card-row-title {
	font-family: 'Didot';
    font-size: 42px;
    text-align: center;
    height: 80px;
    width: 780px;
}

#MoviesDetailView .movie-card-row-fields {
	/* height: 260px; */
}

#MoviesDetailView .movie-card-row-fields .column {
	float: left;
	clear: none;
	height: 280px;
}

#MoviesDetailView .column-poster {
	float: left;
	width: 180px;
}


#MoviesDetailView .column-poster img {
	margin: 0px 10px;
	/* margin-left: 5px; */
	outline-style: solid;
	outline-width: 2px;
	outline-color: rgba(255,255,255,1);
}

#MoviesDetailView .column-fields {
	width: 500px;
	padding: 0px 20px;
}

#MoviesDetailView .column-fields div {
	float: left;
	clear: none;
	width: 100%;
	white-space: normal;
}


#MoviesDetailView .movie-field-directors {
	margin-top: 30px;
	height: 24px;
	width: 100%;
}

#MoviesDetailView .movie-field-actors {
	margin-top: 10px;
	height: 24px;
	width: 100%;
}

#MoviesDetailView .movie-field-story {
	margin-top: 20px;
	height: 144px;
	width: 100%;
}

#MoviesDetailView .movie-field-story .movie-field-story-label {
}

#MoviesDetailView .movie-field-story .movie-field-story-value {
	clear: both;
}




#MoviesDetailView .column-rating {
	width: 60px;
	text-align: center;
}

#MoviesDetailView .column-rating .text {
	width: 60px;
	text-align: center;
}

#MoviesDetailView .movie-field-year,
#MoviesDetailView .movie-field-runtime {
	width: 35px;
	text-align: center;
	margin: 0px auto;
	font-size: 16px;
}




#MoviesDetailView .movie-card-row-play-button {
	/* height: 60px; */
}


#MoviesDetailView .play-button {
	float: left;
	width: 164px;
	height: 45px;
	margin-left: 10px;
	cursor: pointer;
	background-color: #69bdbb;
	font-family: 'Didot';
	font-size: 32px;
	text-align: center;
	padding-top: 8px;
}

#MoviesDetailView .movie-card-row-language-icons {
	margin-top: 20px;
}

#MoviesDetailView .movie-card-row-language-icons .language-flags {
	width: 270px;
	height: 35px;
	float: right;
	clear: none;
}

#MoviesDetailView .movie-card-row-language-icons ul {
	float: right;
	width: 270px;
	height: 35px;
	margin: 0px;
	list-style: none;
}

#MoviesDetailView .movie-card-row-language-icons li {
	float: right;
	clear: none;
	width: 35px;
	height: 35px;
	padding: 0px 5px;
}




#MovieAudioView {
	width: 500px; 
	height: 295px;
	position: relative;
	top: 100px;
	left: 250px;	
	outline-color: #69bdbb;
	outline-style: solid;
	outline-width: 2px;
}


#MovieAudioView .media-items {
	width: 500px;
	height: 240px;
	float: left;
	clear: none;
	white-space: normal;
	
	font-family: 'Avenir Light';
	font-size: 22px;
	color:#fff;
}

#MovieAudioView .media-items .list-header {
	display: block;
	width: 490px;
	text-align: center;
	height: 35px;
	background-color: #444;
	padding: 8px 5px 2px 5px;
	vertical-align: baseline;
}

#MovieAudioView .media-items .media-items-list {	
	display: block;
	width: 500px;
	height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #999;	
}

#MovieAudioView .media-items ul {
	list-style: none;
	background-color: #999;
	width: 490px;
	padding: 5px 5px 0px 5px;
	margin: 0px;
}

#MovieAudioView .media-items li:nth-child(even) {
	background-color: #888;
}
#MovieAudioView .media-items li:last-child {
	padding-bottom: 0px;
}

#MovieAudioView .media-items li {
	background-color: #999;
	width: 480px;
	height: 32px;
	padding: 7px 5px 0px 5px;
	/* color: #fff; */
}

#MovieAudioView .media-items li.focus {
	background-color: #69bdbb;
	color: #fff;
}





#TvShowsDetailView .section-top {
	width: 100%;
    font-family: 'Didot';
    font-size: 48px;
    text-align: center;
    height: 100px;
}

#TvShowsDetailView .section-bottom {
	width: 100%;
	height: 360px;
}

#TvShowsDetailView .section-bottom .poster {
	float: left;
	width: 190px;
	height: 350px;
	/* padding: 5px; */
}

#TvShowsDetailView .section-bottom .poster img {
	margin-left: 5px;
	outline-style: solid;
	outline-width: 2px;
	outline-color: rgba(255,255,255,1);
}

#TvShowsDetailView .section-bottom .episodes {
	display: block;
	width: 560px;
	height: 360px;
	font-family: 'Avenir Light';
	font-size: 22px;
	color:#fff;
	
	margin-left: 200px;
	
	outline-color: #69bdbb;
	outline-style: solid;
	outline-width: 2px;
	
}

#TvShowsDetailView .section-bottom .episodes .list-header {
	display: block;
	width: 550px;
	text-align: center;
	height: 40px;
	background-color: #444;
	padding: 10px 5px 0px 5px;
	vertical-align: baseline;
}

#TvShowsDetailView .section-bottom .TvShowEpisodesView {
	display: block;
	width: 100%;
	height: 310px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #999;	
}

#TvShowsDetailView .TvShowEpisodesView ul {
	list-style: none;
	background-color: #999;
	width: 550px;
	padding: 5px 5px 0px 5px;
}

#TvShowsDetailView .TvShowEpisodesView li:nth-child(even) {
	background-color: #888;
}
#TvShowsDetailView .TvShowEpisodesView li:last-child {
	padding-bottom: 0px;
}

#TvShowsDetailView .TvShowEpisodesView li {
	background-color: #999;
	width: 540px;
	height: 40px;
	padding: 5px;
	/* color: #fff; */
}

#TvShowsDetailView .TvShowEpisodesView li.focus {
	background-color: #69bdbb;
	color: #fff;
}

#TvShowsDetailView .TvShowEpisodesView li .episodes-list-item-div {
	width: 100%;
	height: 35px;
	padding-top: 5px;
}

#TvShowsDetailView .TvShowEpisodesView li .episode-title {
	float: left;
	width: 440px;
	height: 35px;	
}

#TvShowsDetailView .TvShowEpisodesView li .episode-title .sep {
	float: left;
	/* width: 80px; */
	height: 24px;
	padding-top: 6px;	
	font-size: 16px;
	padding-right: 15px;
}

#TvShowsDetailView .TvShowEpisodesView li .episode-title .ept {
	float: left;
	/* width: 380px; */
	height: 35px;	
}

#TvShowsDetailView .TvShowEpisodesView li .runtime {
	float: right;
	width: 100px;
	height: 35px;
	text-align: right;
}



#MusicPlayerView {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 880px;
	height: 560px;
	position: relative;
	top: -40px;
	left: 0px;
}

#MusicPlayerView .header,
#MusicPlayerView .title,
#MusicPlayerView .description,
#MusicPlayerView .loadimg,
#MusicPlayerView .jwplayer-container {
	position: absolute;
	z-index: 100;
	width: 800px;
	margin-left: 40px;
	width: 800px;
	min-height: 20px;
	color: #fff;
    font-family: 'Avenir Light';
    font-size: 24px;
}

#MusicPlayerView .header {
	/* font-size: 55px; */
	margin-top: 340px;
	text-transform: uppercase;
	color: #fff; /* rgba(108,190,188,1); */
	font-family: 'Didot';
	font-size: 36px;
}
#MusicPlayerView .description {
    margin-top: 380px;
}
#MusicPlayerView .title {
    margin-top: 410px;
}

#MusicPlayerView .loadimg {
    margin-top: 220px;
	text-align: center;
	z-index: 150;
}


#MusicPlayerView .jwplayer-container {
    width: 800px;
    height: 560px;  
	margin: 0px 40px 0px 40px;
	padding: 0px;
}

#entertainment_music_jwplayer_wrapper {
	margin-top: 40px;
}


#FleetTrackerView {
 	width: 880px;
 	height: 560px;
 	margin: -40px 0px 0px 0px;
	overflow: hidden;
}

#fleet-tracker-mapview {
    height: 560px;
/*     max-height: 400px; */
}

#TickerView {
	width: 1260px;
	height: 60px;
	margin: 15px 10px 5px 10px;
	
	background-color: rgba(0,0,0,0.75);
}


#TickerView .itvtickerview-header {
	width: 300px;
	height: 60px;
	float: left;
/* 	-webkit-transition: background-color 1s;
	transition: background-color 1s;
 */}

#TickerView .itvtickerview-header-text {
	width: 100%;
	height: 30px;
	font-size: 32px;
	font-family: 'Avenir Light';
	padding-top: 9px;
	text-align: center;
}

.jcarousel-itvtickerview {
	width: 960px;
	height: 60px;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
	
}


#TickerView ul {
	width: 960px;
}

#TickerView li {
	width: 100%;
	height: 60px;
}

#TickerView li div.list-item-div {
	width: 920px;
	white-space: normal;
	height: 40px;
	line-height: 24px;
	padding: 5px 20px 10px 20px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Avenir Medium';
}


#TickerView li div.list-item-div .body-text {
}
























