
/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */

.jcarousel-entertainment {
	position: relative;
	width: 900px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 13px;
	padding-bottom: 13px;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	
}


.jcarousel-list {
	position: relative;
    list-style: none;
    height: 180px;
    margin: 0px;
    padding: 0px;
}

.jcarousel-entertainment li {
	float: left;
	width: 120px;
	min-width: 120px;
	height: 180px;
	min-height: 180px;
	padding: 0px 15px 0px 15px;
}

/* 
.jcarousel-entertainment .jcarousel-item-placeholder {
	background: #fff url(throbber.gif) no-repeat center center;
	color: #000;
	display: none;
}
*/
 
 /**
 * Buttons
 */
.jcarousel-entertainment .jcarousel-prev {
    position: absolute;
    top: 13px;
    left: 0px;
	display: block;
	width: 30px;
	height: 180px;
	background-image: url(/sites/all/themes/silversurfer/img/carousel-arrow-left.png);
	background-color: rgba(222,222,222,1);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 5px;
	padding-right: 5px;
}

.jcarousel-entertainment .jcarousel-next {
    position: absolute;
    top: 13px;
    right: 0px;
	display: block;
	width: 30px;
	height: 180px;
	background-image: url(/sites/all/themes/silversurfer/img/carousel-arrow-right.png);
	/* background-color: rgba(0,0,0,0.1); */
    background-color: rgba(222,222,222,1);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 5px;
	padding-right: 5px;
}


/**
 * Navigation
 */

.jcarousel-entertainment .jcarousel-navigation {
  margin: 0;
  padding: 0;
}

.jcarousel-entertainment .jcarousel-navigation li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  background: none;
}

.jcarousel-entertainment .jcarousel-navigation li.active a {
  font-weight: bold;
  text-decoration: none;
}

