@CHARSET "UTF-8";

div.banner-slideshow-entertainment-movies {
	width: 980px;
	height: 415px;
}


#vod-unique-movie-play-button-select-audio {
	margin: 10px;
	width: 200px;
	min-height: 310px;
	z-index: 100;
    background-color: #eee;
    border: none;
    border-radius: 0px;
	font-family: 'Avenir Light';
    cursor: pointer;
	font-size: 20px;
	z-index: 300;
	position: absolute;
}

#vod-unique-movie-play-button-select-audio .item {
    background-color: #eee;
    color: #000;
    font-family: 'Avenir Light';
   /*  text-transform: uppercase; */
    width: 170px;
    margin: 5px 10px;
    padding: 5px;
    cursor: pointer;
    
}

#vod-unique-movie-play-button-select-audio .header {
    font-family: 'Avenir Medium';
}

#vod-unique-movie-play-button-select-audio .item.even {
	background-color: #fff;
}

.entertainment-movies {
    color: #000;    
    width: 940px;
    height: 330px;
	max-height: 330px;
    margin: 12px auto;
    padding: 0px;
}

.entertainment-movies-content-top {
	padding-top: 13px;
	padding-bottom: 12px;
}
.entertainment-movies-content-bottom {}

#movie-card {
	width: 940px; 
	height: 330px;
	max-height: 330px;   
	font-family: 'Avenir Light';
	font-size: 16px;
	margin: 0px auto;
}

.movie-card-section {
	float-left;
	height: 330px;
}

#movie-poster-fields {
	float: left;
	width: 260px;
}

#movie-poster {
	float: left;
	z-index: -10px;
	width: 220px;
	height: 330px;
}

#movie-play-button {
	position: absolute;
	z-index: 100;
	width: 220px;
	height: 330px;
	background-image: url('/sites/all/themes/silversurfer/img/play-button-rosso.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	opacity: 0.75;
	cursor: pointer;
}


#movie-text-fields {
	width: 680px;
	float: left;
	clear: none;
}

.movie-text-fields-row {
	width: 680px;
	float: left;
	clear: both;
}

#movie-text-fields #row-title #row-title-column0 {
	float: left;
	width: 580px;
	height: 100px;
	text-align: center;
}

#movie-text-fields #row-title #row-title-column1 {
	float: right;
	width: 80px;
	height: 100px;
	text-align: center;
}

#movie-text-fields #movie-field-title {
    width: 580px;
    font-family: 'Didot';
    font-size: 48px;
    text-align: center;
}

#movie-text-fields #movie-field-rating {
	
}

#movie-text-fields #row-title-column1-text {
	text-align: center;
}

#movie-text-fields #movie-field-year,
#movie-text-fields #movie-field-runtime {
	width: 35px;
	text-align: center;
	margin: 0px auto;
	display: inline-block;
}

#movie-text-fields #row-text {
	width: 680px;
}
#movie-text-fields #row-text div {
	float: left;
	clear: none;
}

#movie-text-fields #row-text .value {
	overflow: hidden;
	text-overflow: ellipsis;
}


#movie-field-directors {
	width: 680px;
	height: 20px;
	margin-top: 20px;
}

#movie-field-actors {
	margin-top: 20px;
	width: 680px;
	height: 20px;
}

#movie-field-story {
	margin-top: 20px;
	width: 680px;
	height: 80px;
}

#movie-field-story .label {
	width: 680px;
}

#movie-field-story .value {
	width: 680px;
	clear: both;
}

#movie-text-fields #row-flags {
	margin-top: 20px;
	width: 680px;
	clear: both;
}

#movie-text-fields #row-flags-inner {
	width: 270px;
	height: 35px;
	float: right;
	margin-right: 0px;
}

#movie-text-fields #row-flags-inner div {
	float: right;
	clear: none;
	height: 35px;
	padding-left: 10px;
}











