@CHARSET "UTF-8";


div.banner-slideshow-entertainment-music {
	width: 980px;
	height: 415px;
}

#content-top {
}


.entertainment-music {
    color: #000;    
    width: 925px;
    min-height: 330px;
    background-position: center;
    background-repeat: no-repeat;    
    margin: 12px auto;
}

.entertainment-music-content-top{
	padding-top: 13px;
	padding-bottom: 12px;
}
.entertainment-music-content-bottom{

}


.vod-music {
    position: absolute;
	width: 925px;    
	margin-left: 0px;
	margin-top: 0px;
	font-family: 'Avenir Light';
	font-size: 16px;
}


.vod-music .header,
.vod-music .title,
.vod-music .description,
.vod-music .loadimg,
.vod-music .jwplayer-container {
	position: absolute;
	z-index: 100;
	margin-left: 20px;
	width: 905px;
	min-height: 20px;
	color: #fff;
    font-family: 'Didot';
    font-size: 22px;
}

.vod-music .header {
	/* font-size: 55px; */
	margin-top: 120px;
	text-transform: uppercase;
	color: #fff; /* rgba(108,190,188,1); */
}
.vod-music .description {
    margin-top: 160px;
}
.vod-music .title {
    margin-top: 190px;
}

.vod-music .loadimg {
    margin-top: 220px;
	text-align: center;
	z-index: 150;
}


.vod-music .jwplayer-container {
    width: 925px;
    height: 330px;  
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#entertainment_music_jwplayer_wrapper {
	margin-top: 40px;
}


#content-bottom {
}

.jcarousel-entertainment-music li .name {
    position: relative;
	width: 120px;
	top: -180px;
	text-align: center;
	font-family: 'Didot';
	color: #fff;
	text-shadow: 1px 1px #222;
	font-size: 17px;
}

.jcarousel-entertainment-music li a {
    text-decoration: none;
}




