@CHARSET "UTF-8";

div.banner-slideshow-news-newslink {
	width: 980px;
	height: 415px;
}


#news-newslink-filters {
    position: absolute;
    width: 500px;
    top: 352px;
    margin-left: 10px;
    z-index: 100;
}




.news-newslink-content {
	display: block;    
	color: #000;    
    width: 980px;
    height: 600px;
	min-height: 600px;
    max-height: 600px;
}

.news-newslink-content-top {    
	background-image: url('/sites/all/themes/silversurfer/img/tablet/news/newslink-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	
	display: block;    
	width: 980px;
	margin: 0px auto;
    height: 330px;
   	padding: 25px 0px;
}

.news-newslink-content-top .newslink-logo {
	position: relative;
	float: left;
	z-index: 100;
	top: 30px;
	width: 980px;
	text-align: center;
}

.jcarousel-news-newslink {
	top: -79px;	
}

.news-newslink-content-top .item-text {
	width: 800px;
	margin: 10px auto;
	font-family: 'Avenir Light';
	font-size: 18px;
	color: #fff;
	text-shadow: 2px 2px #000;
	text-align: center;
}

.news-newslink-content-top .title {
	font-family: 'Didot';
	font-size: 72px;
	margin-top: 120px;
	text-align: center;
}

.news-newslink-content-top .description {
	background-color: rgba(0,0,0,0.3);
}


.news-newslink-content-bottom {    
	display: block;    
	width: 980px;
	margin: 0px auto;
    height: 205px;
}

.news-newslink-content-bottom div {    
	float: left;
	cursor: pointer;
}

.newslink-day-img {
	margin: 12px 10px;
	width: 120px;
	height: 180px;
	/* outline-width: 1px;
	outline-style: solid;
	outline-color: #000; */
}
