@CHARSET "UTF-8";

div.banner-slideshow-news-pressreader {
	width: 980px;
	height: 415px;
}


.news-pressreader-content {
	display: block;    
	color: #000;    
    width: 980px;
    height: 600px;
	min-height: 600px;
    max-height: 600px;
}

.news-pressreader-content-top {    
	display: block;    
	width: 880px;
	margin: 0px auto;
    height: 330px;
   	padding: 25px;
	
	background-image: url('/sites/all/themes/silversurfer/img/tablet/news/pressreader-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
}


.news-pressreader-content-bottom {    
	display: block;    
	width: 880px;
	margin: 0px auto;
    height: 185px;
    padding: 10px 0px;
}


.news-pressreader-content-top .logo {
	padding-top: 30px;
	width: 880px;
	height: 100px;
	text-align: center;
}

.news-pressreader-content-top .description {
	width: 800px;
	padding: 20px 40px;
	font-family: 'Avenir Light';
	font-size: 22px;
	color: #fff;
	text-shadow: 2px 2px #000;
	text-align: justify;
}

.news-pressreader-content-bottom .link-section {
	display: inline-block;
	text-align: center;
}

.news-pressreader-content-bottom .text {
	font-family: 'Avenir Medium';
	font-size: 24px;
}

.news-pressreader-content-bottom img {
	
}

.news-pressreader-content-bottom .download {
	width: 400px;
}

.news-pressreader-content-bottom .download .pressreader-link {
	display: inline-block;
}

.news-pressreader-content-bottom .spacer {
	width: 200px;
	position: relative;
	top: -80px;
}

.news-pressreader-content-bottom .spacer .text {
	padding-left: 60px;
}

.news-pressreader-content-bottom .activate {
	width: 200px;
	float: right;
}


.news-pressreader-content-bottom .pressreader-link {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}


