@CHARSET "UTF-8";

div.banner-slideshow-onboard-services {
	width: 980px;
	height: 415px;
}



.onboard-services-content {
 	display: block;    
	color: #000;    
    width: 980px;
    height: 600px;
	min-height: 600px;
    max-height: 600px;
}


.onboard-services-content-top {    
 	display: block;    
	width: 980px;
	text-align: center;
	margin: 0px auto;
    height: 330px;
   	padding-top: 25px;
	padding-bottom: 25px;
}


.onboard-services-content-bottom {    
	display: block;    
	width: 980px;
	margin: 0px;
    height: 205px;
    /* min-height: 205px; */
   	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}


.onboard-services-content-top .text, 
.onboard-services-content-top .location {
	position: relative;
	top: -380px;
	left: 0px;
	width: 480px;
	z-index: 100;
	text-align: left;
	font-family: 'Didot';
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px #000;
/* 	background-color: rgba(0,0,0,0.2);
 */	padding: 10px 40px;
	
}

.onboard-services-content-top .shadow {
	position: relative;
	top: -334px;
	z-index: 50;
}

.onboard-services-content-top .description {
	padding-top: 20px;
	text-transform: uppercase;
}

.onboard-services-content-top .long_description {
	padding-top: 20px;
	font-size: 18px;
}

.onboard-services-content-top .location {
	z-index: 110;
	top: -60px;
	font-size: 24px;
}