
/**
 * @file
 * Silversurfer regions layout
 */

body {
       width: 980px;
/*        min-width: 980px;
       max-width: 980px;
 */
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

@media screen and (max-width: 980px) {
	body {
	   width: 100%;
	}
	#content,
	#footer {
		max-width: 980px;
	}
}


.separator {
	width: 100%;
	min-width: 960px;
}

#header {
	width: 100%;
	height: 475px;
}

#header-first {
	width: 280px;
	height: 60px;
}

#header-second {
	position: absolute;
	top: 0px;
	width: 630px;
	height: 60px;
	margin-left: 280px;
	margin-right: 70px;
}

#header-third {
	position: absolute;
	top: 0px;
	width: 69px;
	height: 60px;
	margin-left: 910px;
	margin-right: 0px;
}

#header-banner {
	width: 100%;
	height: 415px;
	float: left;
	clear: both;
}

#content,
#footer {
    width: 100%;
    overflow: hidden;
}


#content-top {
}

#content-bottom {
}

#content-top.content-row,
#content-bottom.content-row {
	width: 960px;
	margin-left: auto;
	margin-right: auto;	
	 
}

.content-panel {
	float: left;
	width: 455px;
    height: 260px;
    
    
    padding: 12px;
}

.content-panel div {
	display: block;
}
