@CHARSET "UTF-8";

div.banner-slideshow-entertainment-television {
	width: 980px;
	height: 415px;
}


.entertainment-television {
    color: #000;    
    width: 940px;
    height: 330px;
	max-height: 330px;
    margin: 12px auto;
}

.entertainment-television-content-top {
	padding-top: 13px;
	padding-bottom: 12px;
}

.entertainment-television-content-bottom{}

.vod-tvseries,
.vod-satellitetv {
    position: absolute;
	width: 940px;    
	font-family: 'Avenir Light';
	font-size: 16px;
}

.vod-tvseries .field,
.vod-satellitetv .field {
	position: absolute;
}

.vod-satellitetv .play-button {
	position: absolute;
	z-index: 100;
	width: 220px;
	min-height: 330px;
	background-image: url('/sites/all/themes/silversurfer/img/play-button-rosso.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	opacity: 0.75;
	cursor: pointer;
}
 
.vod-satellitetv .poster {
	z-index: -10px;
}

.vod-tvseries .title,
.vod-satellitetv .title,
.vod-tvseries .actors,
.vod-tvseries .story,
.vod-satellitetv .story,
.vod-tvseries .episodes {
    margin-left: 260px;
    width: 680px;
}	


.vod-tvseries .title,
.vod-satellitetv .title {
    font-family: 'Didot';
    font-size: 48px;
    
    height: 96px;
}

.vod-satellitetv .story {
    margin-top: 80px;
    height: 120px;
}


.vod-tvseries .actors {
    margin-top: 120px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.vod-tvseries .story {
    margin-top: 150px;
    height: 130px;
}

.vod-tvseries .story span {
	height: 20px;
}

.vod-tvseries .story div {
	font-size: 14px;
    overflow: hidden;
    height: 100px;
}
.vod-tvseries .episodes {
    margin-top: 230px;  
}

.vod-tvseries .episodes div.select-aqua {
	margin-top: 5px;
}

#content-bottom {
}