
/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */

.jcarousel-skin-unique-movies {
  float: left;
}

.jcarousel-skin-unique-movies .jcarousel-container-horizontal {
  width: 880px;
  height: 300px;
  padding: 10px 40px;
  margin: auto;
}

.jcarousel-skin-unique-movies .jcarousel-container-vertical {
  width: 102px;
  height: 440px;
  padding: 40px 20px;
  margin: auto;
}

.jcarousel-skin-unique-movies .jcarousel-clip-horizontal {
  width: 880px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.jcarousel-skin-unique-movies .jcarousel-clip-vertical {
  height: 440px;
  overflow: hidden;
}

.jcarousel-skin-unique-movies .jcarousel-item {
  padding: 0;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #CCC;
  list-style: none;
  background: #fff none;
}

.jcarousel-skin-unique-movies .jcarousel-item-horizontal {
  margin: 0 4px;
}

.jcarousel-skin-unique-movies .jcarousel-item-vertical {
  margin: 4px 0;
}

.jcarousel-skin-unique-movies .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-unique-movies .jcarousel-next,
.jcarousel-skin-unique-movies .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(arrows.png);
}

.jcarousel-skin-unique-movies .jcarousel-next-disabled,
.jcarousel-skin-unique-movies .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
.jcarousel-skin-unique-movies .jcarousel-prev-horizontal {
  position: absolute;
  top: 150px;
  left: 0px;
  background-position: 0 0;
}
.jcarousel-skin-unique-movies .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
.jcarousel-skin-unique-movies .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-skin-unique-movies .jcarousel-next-horizontal {
  position: absolute;
  top: 150px;
  right: 0px;
  background-position: 0 -32px;
}
.jcarousel-skin-unique-movies .jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}
.jcarousel-skin-unique-movies .jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}

/**
 * Vertical Buttons
 */
.jcarousel-skin-unique-movies .jcarousel-prev-vertical {
  position: absolute;
  top: 10px;
  left: 55px;
  background-position: 0 -64px;
}
.jcarousel-skin-unique-movies .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
.jcarousel-skin-unique-movies .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}

.jcarousel-skin-unique-movies .jcarousel-next-vertical {
  position: absolute;
  bottom: 10px;
  left: 55px;
  background-position: 0 -96px;
}
.jcarousel-skin-unique-movies .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
.jcarousel-skin-unique-movies .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}

.jcarousel-skin-unique-movies .jcarousel-navigation {
  margin: 0;
  padding: 0;
}

.jcarousel-skin-unique-movies .jcarousel-navigation li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  background: none;
}

.jcarousel-skin-unique-movies .jcarousel-navigation li.active a {
  font-weight: bold;
  text-decoration: none;
}

